@import url('https://fonts.googleapis.com/css2?family=Georama:wght@400;600;700&display=swap');
@import './page.css';

/* Contenedor del formulario: Fija el panel en el lateral y lo hace scrollable */
.form-container {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 36%;
  max-height: 96vh;
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(135deg, #313131, #3a3a3a);
  border: 4px solid #a5a29c;
  border-radius: 8px;
  z-index: 9999;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .form-container {
    position: relative;
    width: 100%;
    margin-left: 10px;
    margin-top: 20px; /* <-- Aquí está el cambio */
    max-height: none;
    padding: 5px;
  }
}
/* form container */
.form-card {
  position: relative;
  background: linear-gradient(135deg, #565555, #3a3a3a);
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
/* Título e información */
.form-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 35px
}
/* Texto informativo */
.information-text {
  color: #d8d7d7;
  margin-bottom: 35px;
  display: block;
  font-style: italic;
}

/* Estilos de los campos */
.form-fields {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 15px
  
}

.form-group input,
.form-group textarea {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group textarea {
  resize: vertical;
  min-height: 100px;
}

/* Botón de enviar */
.submit-button {
  padding: 12px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
  transition: background-color 0.3s ease;
}

.submit-button.enabled {
  background-color: #0da00d;
}

.submit-button.disabled {
  background-color: #91c891;
  cursor: not-allowed;
}

.error-text {
  color: rgb(239, 11, 11);
  font-size: 15px;
  margin-top: 5px;
}

/* efecto de backgroudn al enviar */
.popup-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #d6d6d6;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  color: #000;
}

.popup-close {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
