/* Fuente personalizada */
@import url('https://fonts.googleapis.com/css2?family=Georama:wght@400;600;700&display=swap');

/* Fondo general con un degradado cálido */
body {
  font-family: 'ArcadeClassic', monospace !important;
  margin: 0;
  padding: 0;
  line-height: 1.6; /* Altura de línea consistente */
  background-color: #232323; /* Fondo cálido más oscuro */
  overflow-x: hidden; /* Evitar desbordamiento horizontal */
}

.page {
  width: 100%; /* Ajustar al 100% del ancho en todas las vistas */
  padding: 50px 20px 20px 20px; /* Agrega padding-top para dejar espacio para el botón fijo */
  color: #d8d7d7;
  box-sizing: border-box; /* Asegura que padding y bordes se incluyan en el tamaño total */
}
/* Botón para cambiar idioma en Page */
.language-toggle {
  position: absolute;
  top: 15px;
  left: 25px;
  margin-bottom: 25px; /* Nuevo margen inferior */
  font-size: 16px;
  padding: 4px 8px;
  background-color:  rgb(239, 11, 11);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
  width: auto;
  display: inline-block;
  max-width: fit-content;
}


/* Clase común para contenedores como .info-section y .carousel-container */
.container-common, .dynamic-text-container, .info-section {
  border-radius: 15px; /* Bordes redondeados */
  position: relative;
  overflow: hidden; /* Para que el contenido se recorte de acuerdo con el border-radius */
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1), -4px -4px 10px rgba(255, 255, 255, 0.3); /* Efecto de profundidad más sutil */
  transition: all 0.3s ease-in-out; /* Transición suave */
  box-sizing: border-box; /* Asegura que padding y bordes se incluyan en el tamaño total */
  width: 62%; /* Ajustar al 100% del ancho */
  margin: 0 auto; /* Centrado automático */
  margin-left: 1px;
  
}

/* Estilos específicos para .dynamic-text-container */
.dynamic-text-container {
  font-size: 1.2rem; /* Reducir tamaño de texto */
  font-weight: 800;
  text-align: center;
  padding: 10px;
  border: 4px solid #a5a29c; /* Borde cálido */
  height: auto; /* Ajustar altura automáticamente */
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.2), -1px -1px 5px rgba(255, 255, 255, 0.2); /* Efecto de sombra 3D */
  background: linear-gradient(135deg, #565555, #3a3a3a);
}
/* Efecto de hover solo para .dynamic-text-container */
.dynamic-text-container:hover {
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.2), 
              -6px -6px 15px rgba(255, 255, 255, 0.3); /* Profundidad más sutil */
  transform: scale(1.03); /* Aumentar tamaño */
}

/* Efecto de cambio de frase */
.dynamic-text-container span {
  display: inline-block;
  animation: fadeInOut 3s infinite ease-in-out;
}

/* Estilos comunes para .info-section */
.info-section {
  letter-spacing: normal;
  font-size: 1rem;
  color: #d8d7d7; /* Texto gris medio */
  padding: 20px; /* Reducir padding */
  border: 4px solid #a5a29c; /* Borde cálido */
  text-align: left; /* Alinea solo el texto a la izquierda */
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 10px; /* Bordes redondeados */
  display: block; /* Cambiar de flex a block para que no afecte la alineación del texto */
  background: linear-gradient(135deg, #565555, #3a3a3a);
}

.info-section h3 {
  font-size: 0.8rem; /* Reducir tamaño de subtítulos */
  color: #d8d7d7;/* Color gris */
}
.info-section h2 {
  margin-top: -5px;
  margin-bottom: -5px;
  font-size: 1rem; /* Reducir tamaño de títulos */
}

.info-section a {
  display: inline-block; /* Cambiar a inline-block para que solo ocupe el tamaño del texto */
  font-family: 'ArcadeClassic', monospace; /* Mantener la misma fuente */
  font-size: 1.2rem; /* Reducir tamaño de texto */
  color: rgb(8, 0, 168); /* Azul más claro */
  text-align:justify; /* Centrar el texto */
  text-decoration: none; /* Eliminar subrayado */
  margin-top: -10px; /* Espaciado superior */
  margin-left: 40%;
}
/* Contenedor del slider y flechas */
.slider-container {
  z-index: 1;
  overflow: hidden;
  margin: 0 auto 7px auto;
}

/* Estilo de las flechas dentro del slider */
.slider-container .arrow {
  margin-top: 15px;
  position: absolute;
  transform: translateY(-90%);
  background-color: transparent;
  border: none;
  color: rgb(239, 11, 11);
  font-size: 2rem;
  cursor: pointer;
}

.arrow-left {
  left: 50px; /* Ajustar posición izquierda */
}

.arrow-right {
  right: 41%; /* Ajustar posición derecha como un porcentaje del contenedor */
}
/* Efecto de brillo al hacer hover, sin mover la flecha */
.slider-container .arrow:hover {
  transform: translateY(-90%) scale(1.3); /* Agranda un poco la flecha */
}
/* Hasta 1300px */
@media (max-width: 1300px) {
  .dynamic-text-container,
  .info-section,
  .container-common {
    padding: 20px; /* Padding extra para evitar que el borde se vea mal */
  }
}

/* Hasta 768px */
@media (max-width: 768px) {
  .container-common,
  .dynamic-text-container,
  .info-section {
    font-size: 0.9rem; /* Reducir tamaño de texto */
    padding: 10px; /* Reducir padding */
    width: 100%; /* Ocupa todo el ancho */
    margin: 20px auto; /* Ajustar márgenes */
  }

    .dynamic-text-container {
      height: auto; /* Altura automática */
    }

    .info-section h2 {
      font-size: 1rem; /* Títulos más pequeños */
    }

    .info-section h3 {
      font-size: 0.9rem; /* Subtítulos más pequeños */
    }

    .info-section a {
      font-size: 15px;
      margin-left: 10%;

    }

    .text {
      font-size: 0.9rem; /* Texto reducido */
    }
    
    .arrow {
      position: absolute;
      font-size: 0.5rem;
    }

    .arrow-left {
      left: 40px; /* Ajustar posición izquierda */
    }

    .arrow-right {
      right: 40px; /* Ajustar posición derecha como un porcentaje del contenedor */
    }

}
    
